.section-search input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid!important;

}
.section-follow .fa-4x{
    margin: 5px 10px;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;

}
.social-icons img{
    width: 120px;
    padding: 10px 20px;
    align-items: center;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}
